<div ng-controller="ReviewController" class="padding">
    <link rel="stylesheet" href="styles/review.css">

    <super-navbar>
        <super-navbar-title>
            Rate Your Dorm
        </super-navbar-title>
    </super-navbar>


    <div class="review-page" style="margin-top: 6px;">
        <div class="caption">
            <p>Help other students find their perfect home!</p>
        </div>
        <div class="title">
            <p>Socialness:</p>
        </div>
        <div class="caption">
            <p>Neighborly floor-mates, social events, the works.</p>
        </div>

        <div class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate11" ng-click="select11()"></button>
                <button class="button button-clear" ng-class="Rate12" ng-click="select12()"></button>
                <button class="button button-clear" ng-class="Rate13" ng-click="select13()"></button>
                <button class="button button-clear" ng-class="Rate14" ng-click="select14()"></button>
                <button class="button button-clear" ng-class="Rate15" ng-click="select15()"></button>
            </div>
        </div>

        <div class="title">
            <p>Room Size:</p>
        </div>
        <div class="caption">
            <p>Did your dorm feel like a closet?</p>
        </div>
        <div class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate21" ng-click="select21()"></button>
                <button class="button button-clear" ng-class="Rate22" ng-click="select22()"></button>
                <button class="button button-clear" ng-class="Rate23" ng-click="select23()"></button>
                <button class="button button-clear" ng-class="Rate24" ng-click="select24()"></button>
                <button class="button button-clear" ng-class="Rate25" ng-click="select25()"></button>
            </div>
        </div>
        <div class="title">
            <p>Rowdiness:</p>
        </div>
        <div class="caption">
            <p>Remember those crazy floor parties?</p>
        </div>

        <div class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate31" ng-click="select31()"></button>
                <button class="button button-clear" ng-class="Rate32" ng-click="select32()"></button>
                <button class="button button-clear" ng-class="Rate33" ng-click="select33()"></button>
                <button class="button button-clear" ng-class="Rate34" ng-click="select34()"></button>
                <button class="button button-clear" ng-class="Rate35" ng-click="select35()"></button>
            </div>
        </div>

        <div class="title">
            <p>Bathrooms:</p>
        </div>
        <div class="caption">
            <p>Porcelain throne? Or was it pretty scary stuff?</p>
        </div>
        <div class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate41" ng-click="select41()"></button>
                <button class="button button-clear" ng-class="Rate42" ng-click="select42()"></button>
                <button class="button button-clear" ng-class="Rate43" ng-click="select43()"></button>
                <button class="button button-clear" ng-class="Rate44" ng-click="select44()"></button>
                <button class="button button-clear" ng-class="Rate45" ng-click="select45()"></button>
            </div>
        </div>


        <div class="comments">
            <div class="title"> <p>Comments:</p> </div>
            <label class="item item-input">
                <textarea placeholder="Comments" ng-model="review.comments"></textarea>
            </label>
        </div>
        <div class="submit">
            <button class="button button-outline button-dark" ng-click="submit()">&emsp;&emsp; Submit &emsp;&emsp;</button>
        </div>
    </div>
</div>