<div ng-controller="ReviewController" class="padding">
    <link rel="stylesheet" href="styles/review.css">

    <super-navbar>
        <super-navbar-title>
            Rate Your Dorm
        </super-navbar-title>
    </super-navbar>


    <div class="review-page" style="margin-top: 6px;">
        <div class="caption">
            <p>Help other students find their perfect home!</p>
        </div>
        <div class="title">
            <p>Socialness:</p>
        </div>
        <div class="caption">
            <p>Neighborly floor-mates, social events, the works.</p>
        </div>

        <div class="rating">
            <div class="button-bar">
                <button class="button icon super-ios7-star-outline" ng-class="{litup: number1 >= 1}" ng-click="clickStar(1)"></button>
                <button class="button" ng-class="{litup: number1 >= 2}" ng-click="clickStar(2)"></button>
                <button class="button" ng-class="{litup: number1 >= 3}" ng-click="clickStar(3)"></button>
                <button class="button" ng-class="{litup: number1 >= 4}" ng-click="clickStar(4)"></button>
                <button class="button" ng-class="{litup: number1 >= 5}" ng-click="clickStar(5)"></button>
            </div>
        </div>

        <div class="title">
            <p>Room Size:</p>
        </div>
        <div class="caption">
            <p>Did your dorm feel like a closet?</p>
        </div>
        <div class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate11" ng-click="select11()"></button>
                <button class="button button-clear" ng-class="Rate12" ng-click="select12()"></button>
                <button class="button button-clear" ng-class="Rate13" ng-click="select13()"></button>
                <button class="button button-clear" ng-class="Rate14" ng-click="select14()"></button>
                <button class="button button-clear" ng-class="Rate15" ng-click="select15()"></button>
            </div>
        </div>
        <div class="title">
            <p>Rowdiness:</p>
        </div>
        <div class="caption">
            <p>Remember those crazy floor parties?</p>
        </div>

        <div class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate31" ng-click="select31()"></button>
                <button class="button button-clear" ng-class="Rate32" ng-click="select32()"></button>
                <button class="button button-clear" ng-class="Rate33" ng-click="select33()"></button>
                <button class="button button-clear" ng-class="Rate34" ng-click="select34()"></button>
                <button class="button button-clear" ng-class="Rate35" ng-click="select35()"></button>
            </div>
        </div>

        <div class="title">
            <p>Bathrooms:</p>
        </div>
        <div class="caption">
            <p>Porcelain throne? Or was it pretty scary stuff?</p>
        </div>
        <div ng-controller="ReviewController" class="rating">
            <div class="button-bar">
                <button class="button button-clear" ng-class="Rate41" ng-click="select41()"></button>
                <button class="button button-clear" ng-class="Rate42" ng-click="select42()"></button>
                <button class="button button-clear" ng-class="Rate43" ng-click="select43()"></button>
                <button class="button button-clear" ng-class="Rate44" ng-click="select44()"></button>
                <button class="button button-clear" ng-class="Rate45" ng-click="select45()"></button>
            </div>
        </div>
            <div class="submit">
                <super-navigate-back><button class="button button-outline button-dark">&emsp;&emsp; Submit &emsp;&emsp;</button></super-navigate-back>
            </div>
    </div>
</div>