.page
{
    padding:3px 3px 3px 3px;
}

.choice
{
    padding-left:10px;
}
.nofound
{
    text-align:center;
}
.sortButton
{
    padding-top:5px;
    width:60px;
    height:20px;
    font-size:11px;
    border-radius: 10%;
    background-color:#F0F0F0;
    border: 1px #E8E8E8;
}
.searchbar
{
    padding-top:2px;
    padding-bottom:2px;
}
.active
{
    background-color:purple;
}
.active div
{
    color:white;
}
input[type="range"]
{
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 2px;
    padding-left: 1px;
    width: auto;
    height: 43px;
    outline: none;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, black), color-stop(100%, black));
    background: linear-gradient(to right, #ccc 0%, purple 100%);
    background-position: center;
    background-size: 99% 2px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}