.page
{
    padding:3px 3px 3px 3px;
}
#demo
{
    padding-left: 8px;
}
.nofound
{
    text-align:center;
}
.refresh{
    height:30px;
    position:center;
    text-align: center;
    padding-bottom:10px;
}
.sortButton
{
    display: inline-block;
    height: 30px;
    width: 65px;
    margin-right: 8px;
    border-color: #4e015c;
    border-radius: 4px;
    background-color: white;
    color: #4e015c;
}
.clearButton
{
    padding-top:5px;
    padding-bottom:25px;
    width:50px;
    height:20px;
    font-size:15px;
    color: purple;
    border: 1px #E8E8E8;
}
.searchbar
{
    padding-top:2px;
    padding-bottom:2px;
}
.active
{
    background-color:purple;
}
.active div
{
    color:white;
}
input[type="range"]
{
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 2px;
    padding-left: 1px;
    width: auto;
    height: 43px;
    outline: none;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, black), color-stop(100%, black));
    background: linear-gradient(to right, #ccc 0%, purple 100%);
    background-position: center;
    background-size: 99% 2px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}
.item-icon-right
{
    padding: 1px 1px 1px 1px;
    border-color:white;
}
.item-icon-right .icon
{
    right:-3px;
    font-size:15px;
    color: grey;
}
.item-thumbnail-left
{
    padding-top:3px;
    padding-bottom:3px;
    padding-right:3px;
}
