<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      {{title}}
    </super-navbar-title>
  </super-navbar>

  <super-navigate view-id="search" action="click">
    <button class="button button-full button-stable">Search</button>
  </super-navigate>

  <div class="list homepage" >

    <a ng-repeat="dorm in dormList" class="item item-thumbnail-left" href="{{dorm.link}}">
      <img ng-src="{{dorm.img}}">
      <h2>{{dorm.name}}</h2>
      <p>Residence Hall</p>
    </a>
  </div>
</div>