<div ng-controller="DormPageController">

    <super-navbar>
        <super-navbar-title>
            {{dorm.name}}
        </super-navbar-title>
    </super-navbar>

    <link rel="stylesheet" href="styles/dormPage.css">

    
        <div class="images">
            <img ng-src="{{dorm.img}}" height="{{imageHeight}}"/>
        </div>
        <div class="address">
            {{dorm.address | uppercase}}
        </div>

        <section>

            <ul class="row">
                <li class="tab col col-33" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">
                    <div><strong>Info</strong></div>
                </li>
                <li class="tab col col-33" ng-click="setTab(2)" ng-class="{ active: isSet(2) }">
                    <div><strong>Map</strong></div>
                </li>
                <li class="tab col col-33" ng-click="setTab(3)" ng-class="{ active: isSet(3) }">
                    <div><strong>Reviews</strong></div>
                </li>
            </ul>

            <div ng-show="isSet(1)">
                <div class="infolist">
                    <ul>
                        <li class="row">
                            <p class="column-name"><strong>Location</strong></p>
                            <p class="column-data">{{dorm.location}} Campus</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Type</strong></p>
                            <p class="column-data">{{dorm.type}}</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Air Conditioning</strong></p>
                            <p class="column-data" ng-show="dorm.airconditioning">Yes</p>
                            <p class="column-data" ng-hide="dorm.airconditioning">No</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Dining Hall On-site</strong></p>
                            <p class="column-data" ng-show="dorm.dininghall">Yes</p>
                            <p class="column-data" ng-hide="dorm.dininghall">No</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Doubles</strong></p>
                            <p class="column-data">{{dorm.double}}</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Singles</strong></p>
                            <p class="column-data">{{dorm.single}}</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Triples</strong></p>
                            <p class="column-data">{{dorm.triple}}</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Residents</strong></p>
                            <p class="column-data">{{dorm.single+dorm.double*2+dorm.triple*3}}</p>
                        </li>
                        <li class="row">
                            <p class="column-name"><strong>Others</strong></p>
                            <p class="column-data">{{dorm.other}}</p>
                        </li>
                        <li class="price-title">
                            <p><strong>Price per Quarter</strong></p>
                        </li>
                        <li class="row" ng-show="dorm.pricesingleQ > 0">
                            <p class="column-name"><strong>Single</strong></p>
                            <p class="column-data">{{dorm.pricesingleQ | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.priceLsingleQ > 0">
                            <p class="column-name"><strong>Large Single</strong></p>
                            <p class="column-data">{{dorm.priceLsingleQ | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricesingleBathQ > 0">
                            <p class="column-name"><strong>Single w/ Bath</strong></p>
                            <p class="column-data">{{dorm.pricesingleBathQ | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricedoubleQ > 0">
                            <p class="column-name"><strong>Double</strong></p>
                            <p class="column-data">{{dorm.pricedoubleQ | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.ConDoubleQ > 0">
                            <p class="column-name"><strong>Connection Double</strong></p>
                            <p class="column-data">{{dorm.ConDoubleQ | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricedoubleBathQ > 0">
                            <p class="column-name"><strong>Double w/ Bath</strong></p>
                            <p class="column-data">{{dorm.pricedoubleBathQ | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricetripleQ > 0">
                            <p class="column-name"><strong>Triple</strong></p>
                            <p class="column-data">{{dorm.pricetripleQ | currency:$:0}}</p>
                        </li>
                        <li class="price-title">
                            <p><strong>Price for Full Academic Year</strong></p>
                        </li>
                        <li class="row" ng-show="dorm.pricesingleY > 0">
                            <p class="column-name"><strong>Single</strong></p>
                            <p class="column-data">{{dorm.pricesingleY | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.priceLsingleY > 0">
                            <p class="column-name"><strong>Large Single</strong></p>
                            <p class="column-data">{{dorm.priceLsingleY | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricesingleBathY > 0">
                            <p class="column-name"><strong>Single w/ Bath</strong></p>
                            <p class="column-data">{{dorm.pricesingleBathY | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricedoubleY > 0">
                            <p class="column-name"><strong>Double</strong></p>
                            <p class="column-data">{{dorm.pricedoubleY | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.ConDoubleY > 0">
                            <p class="column-name"><strong>Connection Double</strong></p>
                            <p class="column-data">{{dorm.ConDoubleY | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricedoubleBathY > 0">
                            <p class="column-name"><strong>Double w/ Bath</strong></p>
                            <p class="column-data">{{dorm.pricedoubleBathY | currency:$:0}}</p>
                        </li>
                        <li class="row" ng-show="dorm.pricetripleY > 0">
                            <p class="column-name"><strong>Triple</strong></p>
                            <p class="column-data">{{dorm.pricetripleY | currency:$:0}}</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-show="isSet(2)">
                <div class="padding">
                    <div id="googleMap" class="collapse">
                        <embed class="gMap" ng-src="{{dormAddrCode}}" width="100%" height="{{screenHeight}}"></embed>
                    </div>
                </div>
            </div>

            <div ng-show="isSet(3)" scroll>
                <div class="padding">
                    <div>
                        <p>Average rating for {{dorm.name}} from {{reviewList.length}} reviewers.</p>
                    </div>
                    <ul>
                        <li class="row" ng-repeat="rating in ratelist">
                            <p class="rating-name"><strong>{{rating.title}}</strong></p>
                            <p class="rating-data"><span static-star-rating rating-value="rating.rate" max="5"></span></p>
                        </li>
                    </ul>

                    <super-navigate view-id="review#review?id={{dorm.id}}" action="click">
                        <button class="button button-purple button-block">Post a review</button>
                    </super-navigate>

                    <div class="review-list">
                        <p class="review-title"><strong>Reviews</strong>:</p>
                        <div class="review-content">
                            <div class="each-review" ng-repeat="c in reviewList">
                                <span static-star-rating rating-value="c.overall" max="5"></span>
                                <span class="date comments">{{c.timestamp}}</span>
                                <div class="comments">
                                    <p ng-show = "c.comments.length > 0">{{c.comments}}
                                    <p ng-hide = "c.comments.length > 0">No comments.</p></p>
                                </div>
                            </div>
                            <div class="each-review comments" ng-hide = "reviewList.length > 0">
                                <p>No reviews for {{dorm.name}}.Would you like to post a review for {{dorm.name}}?</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </section>
    </div>
</div>
