.images
{
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.images img
{
    width: 100%;
}
.picture-nav
{
    text-align: center;
    margin: 4px;
    margin-left: 8px;
    margin-right: 8px;
}
.button.prevbutton
{
    display: inline-block;
    width: 95px;
    border-color: #4e015c;
    background-color: white;
    color: #4e015c;
    float: left;
}
.button.nextbutton
{
    display: inline-block;
    width: 90px;
    border-color: #4e015c;
    background-color: white;
    color: #4e015c;
    float: right;
}
.picture-nav p
{
    position: relative;
    bottom: -6px;
}
.address
{
    font-size:15px;
    color: #585858;
    font-style: italic;
    padding-top:8px;
    padding-left: 10px;
    margin-bottom: -7px;
}
.tab
{
    position:relative;
    background: #4e015c;
    border: 1px solid #ccc;
}
.active
 {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
.tab div
{
    text-align:center;
    color:white;
}
.active div
{
    color:#4e015c;
}
.infolist
{
    padding:5px;
}
.price-title
{
    text-align: center;
    padding-top:5px;
    height:30px;
    margin-bottom:0;
}
.column-name
{
    background-color:#F0F0F0;
    padding-top:5px;
    padding-left:5px;
    padding-right:10px;
    width: 50%;
    height:30px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom:0;
}
.column-data
{
    background-color:#F8F8F8;
    padding-top:5px;
    padding-left:5px;
    width: 50%;
    height:30px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom:0;
}
.date
{
    float:right;
}
.rating-name
{
    height:20px;
    font-size:15px;
    width:40%;
}
.rating-data
{
    height:20px;
    font-size:15px;
    width:60%;
}
.review-list
{
    padding-top: 10px;
    padding-bottom: 5px;
}
.review-title
{
    font-size:15px;
}
.review-content
 {
     border-bottom:1px solid #ddd;
 }
.each-review
{
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid white;
    padding-left:5px;
    padding-right:5px;
    text-align:justify;
}
.comments
{
    font-size:12px;
}
.button.button-purple
{
    border-color: purple;
    color: #fff;
    height:28px;
    font-size:18px;
    background-color: #4e015c;
}
