.images
{
    vertical-align: bottom;
    overflow: hidden;
    width: 100%;
    height: 175px;
    text-align: center;
}
.images img
{
    width: 100%;
    max-height: auto;
}
.address
{
    display: block;
    height: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    font-size: 15px;
    text-align: left;
    color: #585858;
    font-style: italic;
}
.tab
{
    position:relative;
    background: purple;
    padding: 10px;
    border: 1px solid #ccc;

}
.active
 {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
.tab div
{
    text-align:center;
    color:white;
}
.active div
{
    color:purple;
}
.infolist
{
    padding:5px;
}
.column-name
{
    background-color:#F0F0F0;
    padding-top:5px;
    padding-left:5px;
    padding-right:10px;
    width: 50%;
    height:30px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom:0px;
}
.column-data
{
    background-color:#F8F8F8;
    padding-top:5px;
    padding-left:5px;
    width: 50%;
    height:30px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom:0px;
}
