.images
{
    vertical-align: bottom;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.images img
{
    width: 100%;
}
.address
{
    font-size:15px;
    color: #585858;
    font-style: italic;
    padding-top:5px;
    padding-left:8px;
}
.tab
{
    position:relative;
    background: purple;
    padding: 10px;
    border: 1px solid #ccc;
}
.active
 {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
.tab div
{
    text-align:center;
    color:white;
}
.active div
{
    color:purple;
}
.infolist
{
    padding:5px;
}
.price-title
{
    text-align: center;
    padding-top:5px;
    height:30px;
    margin-bottom:0px;
}
.column-name
{
    background-color:#F0F0F0;
    padding-top:5px;
    padding-left:5px;
    padding-right:10px;
    width: 50%;
    height:30px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom:0px;
}
.column-data
{
    background-color:#F8F8F8;
    padding-top:5px;
    padding-left:5px;
    width: 50%;
    height:30px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom:0px;
}
.rates
{
    height:30px;
    font-size:15px;
}
.rates span
{
    font-size:15px;
    position:relative;
    bottom:-1px;
}
.review-list
{
    padding-top: 10px;
    padding-bottom: 5px;
}
.review-title
{
    font-size:15px;
}
.review-content
 {
     border-bottom:1px solid #ddd;
 }
.each-review
{
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid white;
    padding-left:5px;
    padding-right:5px;
    text-align:justify;
}
.comments
{
    font-size:12px;
}
.button.button-purple
{
    border-color: purple;
    background-color: purple;
    color: #fff;
    height:28px;
    font-size:18px;
}
