.review-page
{
    margin-top: 6px;
}
.caption
{
    margin-left: 8px;
    font-size: 14px;
    color: black;
    font-style: italic;
}
.title
{
    display: block;
    align-content: center;
    background-color: #4E015C;
    width: 100%;
    height: auto;
    font-size: 17px;
    color: white;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 16px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 1px;
    font-weight: bold;
}
.rating
{
    text-align:center;
}
.rating li
{
    padding: 8px;
    font-size: 20px;
}
.submit
{
    margin: 16px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
}
