.review-page
{
    width: 100%;
    height: 100%;
    background-color: white;
}
.caption
{
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    font-style: italic;
}
.title
{
    display: block;
    align-content: center;
    background-color: #4E015C;
    width: 100%;
    height: auto;
    font-size: 17px;
    color: white;
    text-align: left;
    margin-bottom: 8px;
    margin-top: 16px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    font-weight: bold;
}
.submit
{
    margin: 16px;
    margin-bottom: 20px;
    align-content: center;
    text-align: center;
}
.rating
{
    width: 80%;
    height: auto;
    padding-left: 10px;
    margin-bottom: 5px;
}
.litup
{
    color:yellow;
    border:4px;

}
